.main--container {
    display: block;
}

#back--button{
    background-color: black;
    color: #fff;
    padding: 10px;
    width: 75px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5%;
}

.wpp--number{
    text-decoration:solid;
    color: black;
}

/* Css de avaliações */

.Avaliations
{
    background-color: rgb(255,255,255);
    width: 80vw;
    height: max-content;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120%;
    left: 10%;
    flex-direction: column;
    display: flex;
}

.rating--section
{
    position: relative;
    display: block;
    margin-bottom: 50%;
    width: 50%;
}


.input--field--avaliation{
    position: relative;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.p-rating .p-rating-icon.pi-star-fill{
    
    color: #ffc629 !important;
}
.Rating--bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card--service {
    display: flex;
    position: relative;
    background-color: rgb(255,255,255);
    width: 85%;
    left: 10%;
    right: 10%;
}

.service--informations
{
    background-color: rgb(255,255,255);
    align-items:flex-start;
    width: 80%;
    position: relative;
    font-size: 20px;
    flex-direction: column;
    display: flex;
}

.content {
    font-size: 25px;
    position: relative;
    height: max-content;
    margin: 5%;
}

.avaliate--button {
    color: #fff;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: all ease 0.3s;
    position: relative;
    margin-left: 2%;
  }

p {
    position: relative;
}