.header--container h1:nth-child(1) {
  font-size: 40px;
  letter-spacing: 0.5px;
}

.subtitle {
  margin-left: 5rem;
}

.img--user {
  width: 120px;
  height: auto;
  position: static;
  bottom: -30px;
}

.informations {
  margin-left: 20px;
}

.informations p:nth-child(1) {
  margin-top: -10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.result--information {
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  align-items: center;
  padding: 15px;
  display: block;
  justify-content: center;
  position: relative;
  outline: none;
  flex-direction: row;
}

.see--more {
  color: rgb(0, 0, 0);
  background-color: rgb(173, 172, 172);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.see--more:hover {
  padding: 10px;
}
